/* .header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #2B19FE, #FF023F);
    color: linear-gradient(90deg, #2B19FE, #FF023F);
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .header p {
    margin: 10px 0 0;
  }
   */

/* 
   .header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #FF416C, #FF4B2B);
    color: white;
    margin-bottom: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  .header p {
    margin: 10px 0 0;
  }
   */


   .header {
    text-align: center;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
    background: linear-gradient(90deg, #2B19FE, #FF023F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .header p {
    margin: 10px 0 0;
    color: #393A5E;
  }
  