.app {
  display: flex;
}

.main-content {
  margin-left: 100px;
  width: calc(100% - 100px);
  padding: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.next-button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  background-color: #5661F6;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
}