/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 */


 .app {
  display: flex;
}

.main-content {
  margin-left: 100px; /* Adjust according to your sidebar width */
  width: calc(100% - 100px);
  padding: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.next-button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  background-color: #5661F6;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
